<div class="container">
    <div class="row">
       
<h3>Write your Quote here</h3>
<form action="">
    <label for="author">Author of quote</label> <br>
    <input type="text" name="author" id="author" placeholder="Enter name of author"> 
    <br>
    <br>

    <label for="quote">Quote</label> <br>
    <input type="text" name="quote" id="quote" placeholder="Enter the quote"> 
    <br>
    <br>

    <label for="name">Your name</label> <br>
    <input type="text" name="name" id="name" placeholder="Enter your name">
    <br>
    <br>

    <button type="submit" name="button" class="btn btn-info">submit</button>

</form>
</div>
</div>