<div class="container bg-success">
    <div class="row">
        <h1 class="text-align-center">"Why call it rush hour when nothing moves!" my favourite quote. Lets hear yours!</h1>

        <div class="col-md-4">
            
            <app-forms (quoteEvent)="uploadQuote($event)"></app-forms>
         </div>

        <div class="col-md-4">
            <h2>MY QUOTES</h2>

            <ul *ngFor="let quotes of quotes">
                
                <li>
                    {{ quotes.authorName}} <br>
                     {{ quotes.quoteText }} <br>
                     {{ quotes.createdBy}}<br>
                     {{ quotes.dateCreated}}
                    <button class="text-primary"> Upvotes: {{quotes.upvotes}}</button> 
                    <button class="text-warning">Downvotes: {{quotes.downvotes}}</button>
                <button class="text-warning">Delete Quote</button></li>
            </ul>
        </div>
        
    </div>
    
</div>


