<div class="container bg-success">
    <div class="row">
        <h1 class="text-align-center">"Why call it rush hour when nothing moves!" my favourite quote. Lets hear yours!</h1>

        <div class="col-md-4">
            
            <app-forms (quoteEvent)="uploadQuote($event)"></app-forms>
         </div>

        <div class="col-md-4">
            <h2>MY QUOTES</h2>
            <div>
            

            <ul *ngFor="let quotes of quotes;  let i =index">
                
                <li>
                    {{ quotes.authorName}} 
                    <br>
                     {{ quotes.quoteText }}
                      <br>
                     {{ quotes.createdBy}}
                     <br>
                     {{ quotes.dateCreated}}
                     <br>
                    <button class="text-primary"> Upvotes: {{quotes.upvotes}}</button> 
                    <button class="text-warning">Downvotes: {{quotes.downvotes}}</button>
                    <button class="btn btn-danger" (click)='deleteQuote(i)'>
                      <span><i class="fa fa-trash mr-2" style="color:#fff"></i></span>Delete Quote
                    </button>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>


    <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <app-quote-form (quoteEvent)="uploadQuote($event)"></app-quote-form>
      </div>
      <div class="col-lg-8">
        <h3>MY QUOTES</h3>
        <div *ngFor="let quotes of quotes; let i = index">
          <div class="card  mt-2">
            <div class="card-body">
              
              <div appHighlight *ngIf='checkHighVote()==quotes.upvotes && quotes.upvotes!=0'>
                <blockquote>
                   {{ quotes.quoteText }} 
                  <br />
                  <small class="text-muted ml-2">- {{ quotes.createdBy }} </small>
                </blockquote>
              </div>
              <div *ngIf='checkHighVote()!=quotes.upvotes || quotes.upvotes===0'>
                <blockquote>
                  &quot; {{ quotes.quoteText }} &quot;
                  <br />
                  <small class="text-muted ml-2">- {{ quotes.createdBy }} </small>
                </blockquote>
              </div>
  
              <div *ngIf="quotes.isDescriptionShown">
                <app-quote-details [quote]="quote" [quotes]='quotes' (isHighlighted)='highlightThis($event)'></app-quote-details>
              </div>
              <button>{{quotes.dateCreated | dateCount}}
                ago</button>
              <button class="btn btn-success" style="float:right" (click)="toggleDescription(i)">
                {{
                  quotes.isDescriptionShown
                    ? "Hide Description"
                    : "Show Description"
                }}
                <span class="ml-2">
                  <i class="fa fa-external-link" style="color:#fff"></i></span>
              </button>
              <hr>
              <button class="text-primary">addDownVote:{{quotes.downvotes}}</button>
              <button class="text-warning">addUpVote:{{quotes.upvotes}}</button>
              
  
            </div>
            <div class="card-footer">
              <button class="btn btn-danger" (click)='deleteQuote(i)'>
                <span><i class="fa fa-trash mr-2" style="color:#fff"></i></span>Delete Quote
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

        
        
   
    





